body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.container {
    text-align: center;
    width: 218px;
    margin: 10px auto;
    padding: 10px;
    background-color: white;
}

input.bg-color-input,
input.text-color-input {
    width: 100%;
    margin-top: 5px;
    border: 1px solid grey;
    padding: 5px;
    box-sizing: border-box;
}

button.add-button {
    margin-top: 5px;
    width: 100%;
    cursor: pointer;
    /* background-color: whitesmoke; */
    /* text-decoration: none;
  border: 1px solid grey; */
}

input.bg-color-input,
input.text-color-input,
button.add-button {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.items {
    text-align: left;
}

div.items>div.item {
    margin-top: 5px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
}

div.items>div.item.selected {
    border: 2px solid black;
}

div.items>div.item button.delete-button {
    text-decoration: none;
    border: none;
    background: white;
    border-radius: 5px;
    color: grey;
    position: absolute;
    right: 10px;
    top: 13px;
    cursor: pointer;
}

.hello-world {
    margin-top: 70px;
    text-align: center;
    font-size: 60px;
    color: white;
}

.remove-button {
    position: absolute;
    font-size: 110%;
    top: 0;
    color: darkred;
    right: 10px;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}